@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;
$navbar-app-height: 6vh;
$navbar-board-height: 8vh;
$board-content-height: 86vh;

$column-bg-color: #ebecf0;
$column-border-radius: 5px;

$board-bg-color: #a7daf3;
$input-border-color: #58beee;
$app-main-text-color: #333;
$commom-element-bg: rgba(27, 21, 21, 0.24);
$alert-danger: #ee5253;

//Screens:
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: 'max-width: 375px';
